@import "tailwindcss";

@font-face {
  font-family: 'Futura';
  src: url('/fonts/FuturaStd-Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/FuturaStd-Light-Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Regular-italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Medium-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/Futura-Bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


@theme {
  --color-local-primary: #F87201;
  --color-local-secondary: #12113D;
  --color-local-background: #F7F3F3;
  --shadow-service-card: 0 8px 0px #F87201
}

@layer components {
  .maximum-width {
    @apply max-w-[1400px] mx-auto px-4
  }

  .title-local-secondary {
    @apply text-local-secondary uppercase font-bold
  }

  .title-local-primary {
    @apply text-local-primary uppercase font-bold
  }

  .input-style {
    @apply rounded-[20px] px-8 py-5 w-full border-2 border-local-secondary focus:outline outline-local-secondary
  }
}

/* Hide scrollbar for Chrome, Safari, Edge */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}

/* Thin, macOS-like scrollbar */
.scrollbar-mac::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-mac::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-mac::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.6);
  border-radius: 10px;
}

.scrollbar-mac::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.8);
}